body {
  font-family: "poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.name-highlight {
  color: orange;
}
h2 {
  font-size: 20px;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding: 2%;
}
.half-width img {
  width: 100%;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  border: 1px solid red;
}
section {
  height: 500px;
}
