body {
  font-family: "poppins", sans-serif;
}
h1 {
  font-size: 50px;
}
.name-highlight {
  color: orange;
}
h2 {
  font-size: 20px;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding: 2%;
}
.half-width img {
  width: 100%;
}
