body {
  font-family: "poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.name-highlight {
  color: orange;
}
h2 {
  font-size: 20px;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding: 2%;
}
.half-width img {
  width: 90%;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
section {
  height: 600px;
  padding-bottom: 200px;
}
.link-button {
  text-decoration: none;
  background-color: orange;
  padding: 10px 20px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #e45300, orange);
  color: white;
  font-weight: 700;
}
