body {
  font-family: "poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange-highlight {
  color: orange;
}
h2 {
  font-size: 30px;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding: 2%;
}
.half-width img {
  width: 90%;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
section {
  height: 600px;
  padding-bottom: 200px;
}
.link-button {
  text-decoration: none;
  background-color: orange;
  padding: 10px 20px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #e45300, orange);
  color: white;
  font-weight: 700;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.single-experience {
  box-shadow: 10px 10px 30px rgb(116, 116, 133);
  height: 60%;
  border-radius: 10px;
  background-color: rgb(230, 252, 215);
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.exp {
  margin-left: 2%;
}
#full-stack {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, #e45300, orange);
  border-image-slice: 1;
}
#baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
.copyright {
  font-size: 15px;
  text-align: center;
  color: gray;
}
